.container {
	position: absolute;
	right: 5px;
	display: flex;
	align-items: center;
	gap: 5px;
	.language_button {
		padding: 0;
		background: #fff !important;
		border: none;
		cursor: pointer;
		width: 24px;
		height: 24px;

		&:enabled:hover {
			background: rgba(0, 0, 0, 0.1) !important;
		}

		img {
			width: 100%;
			height: 100%;
			// border-radius: 50%;
		}
	}
}
