.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 10px;

	p {
		margin: 0 0 10px;
		text-align: center;
	}

	.cta_btn {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.resend_btn {
		width: 100%;
		background-color: transparent !important;
		color: #000 !important;

		&:enabled:hover {
			background-color: #eaeaea !important;
		}
	}
}

.custom-otp-input {
	input {
		width: 50px;
		height: 50px;
	}
	&.error input {
		border: 2px solid red;
		animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-4px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(4px);
	}
}

// .cta_btn {
// 	margin-top: 20px;
// }

.no_header {
	padding: 2rem 1.5rem;
	border-radius: 6px;
}

.dialog_container {
	width: 400px;
}
