.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

    p {
        margin: 0 0 10px;
        text-align: center;
    }

    .cta_btn {
        width: 100%;
        // min-width: 193px;
        // max-width: 230px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .resend_btn {
        width: 100%;
        // min-width: 193px;
        // max-width: 230px;
        display: flex;
        justify-content: center;
        background-color: transparent !important;
        color: #000 !important;

        &:enabled:hover {
            background-color: #eaeaea !important;
        }
    }
}

// .custom-otp-input {
//     input {
//         width: 50px;
//         height: 50px;
//     }
//     &.error input {
//         border: 2px solid red;
//         animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
//     }
// }

.otp_container {
    gap: 10px;
}

.otp_input {
    width: 50px !important;
    height: 50px !important;
    border: 2px solid #000 !important;
    border-radius: 12px !important;
    &:focus,
    &:focus-visible {
        border: 1px solid var(--primary-color) !important;
        outline: 1px solid var(--primary-color) !important;
    }
    &.error {
        border: 2px solid red !important;
        animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    }
}

// input:focus,
// input:focus-visible {
//     border: 1px solid var(--primary-color) !important;
//     outline: 1px solid var(--primary-color) !important;
// }

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-4px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(4px);
    }
}

// .cta_btn {
// 	margin-top: 20px;
// }

.no_header {
    padding: 2rem 1.5rem;
    border-radius: 6px;
}

.dialog_container {
    width: 400px;
}

.otp_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    direction: ltr;

    &.heartbeat_animation {
        animation: heartbeat 1.5s ease-in-out infinite;
    }

    @keyframes heartbeat {
        0% {
            transform: scale(1);
        }
        14% {
            transform: scale(1.07);
        }
        28% {
            transform: scale(1);
        }
        42% {
            transform: scale(1.07);
        }
        70% {
            transform: scale(1);
        }
        100% {
            transform: scale(1);
        }
    }
}
