.container {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	box-sizing: border-box;

	.main_wrapper {
		flex-basis: 100vh;

		&.skipPriceHeader {
			flex-basis: calc(100vh + 40px); //* 40px is the price top description
		}

		&.skipPriceHeader.fullscreenPlayer {
			flex-basis: calc(100vh + 40px + 85px); //* 85px is the language + logo header
		}
	}

	.children_wrapper {
		width: 400px;
		margin: auto;
		padding: 1rem;

		&.isFullscreen {
			width: 100%;
			padding: 0;
		}

		@media screen and (max-width: 400px) {
			width: 100%;
		}
	}
}
