.price_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	// background-color: var(--primary-color);
	color: #9d9d9d;
	font-size: 12px;
	height: 40px;
	padding: 0.4rem;
}

.container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 1rem 1rem 0;
	gap: 20px;

	&.hasLogo {
		justify-content: space-between;
	}

	&.reverse {
		flex-direction: row-reverse;
	}

	.logo {
		width: 70px;
		height: 70px;
		aspect-ratio: 1;
		border-radius: 50%;
	}
}
