.container {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;

	&.rtl {
		text-align: right;
		font-family: var(--font-family-ar, "Arial"), sans-serif;
	}

	&.ltr {
		text-align: left;
		font-family: var(--font-family, "Arial"), sans-serif;
	}
}
