.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	background-color: #dbdbdb;
	flex-grow: 1;
	padding: 20px;

	p {
		text-align: justify;
		margin: 0;
	}
	.bulletList {
		margin: 0;
	}
}
