.loading_container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	.page_spinner {
		font-size: 4rem;
	}
}

.stepper_panel {
	& > button {
		flex-direction: row-reverse;

		& > span:last-child {
			margin-left: 0;
			margin-right: 0.5rem;
		}
	}
}

.desc {
	display: flex;
	justify-content: center;
	text-align: center;

	margin: 20px 0px;

	p {
		margin: 0;
		text-align: center;
	}
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin: 20px 0;

	// form {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// 	gap: 10px;

	// 	p {
	// 		margin: 20px 0;
	// 		text-align: center;
	// 	}
	// }

	// input {
	// 	width: 200px;
	// }

	.middle_price_desc {
		text-align: center;
		margin: 0px;
	}

	.exitBtn {
		// margin-top: 20px;
		background-color: #e7e7e7 !important;
		color: #9d9d9d;
		border: none;
		padding: 10px 20px;
		font-size: 14px;
		border-radius: 6px !important;

		&:enabled:hover {
			background-color: darken(#e7e7e7, 20%) !important;
		}
	}
}

.price_wrapper {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	// font-size: 12px;
	// color: #9d9d9d;
}

.acknowledgment_container {
	display: flex;
	justify-content: center;
	.acknowledgment {
		font-size: 12px;
		text-align: center;
		color: #9d9d9d;
	}
}
